<!doctype html>
<html>
	<head>
		<title>{% block title %}TITLE HERE{% endblock %}</title>
<!-- 		link to stylesheet/bootstrap here -->
	</head>
	<body>
		{% if "user_id" in session %}
			<header>Logged in as <a href="/profile/{{ session['user_id'] }}">{{ session["username"]}}</a> <a href="/logout">Logout</a></header>
		{% else %}
			<a href="/login">Log In</a> or <a href="register">Register</a>
		{% endif %}
   <form action="/search-results">
    	<input name= "search" type="text">
    	<input type="submit" value="Search">
    </form>
		{% with messages = get_flashed_messages() %}
		   {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


		{% block content %}BODY CONTENT HERE{% endblock %}
	</body>
</html>