{% extends "base.html" %}
{% block title %}Compose a Message{% endblock %}

{% block content %}
<div class="container-fluid">
{% if usernames_connected_with|length == 0 %}

<h1>You are not currently connected to any users! Please connect to a user 
	if you would like to send a message.</h1>

{% else %}
<form action="/submit-message" method="POST">
	<label>Message recipient:</label>
	<select name="chosen-recipient">
		{% for key, value in usernames_connected_with.items() %}
		<option value="{{ key }}">{{ value }}</option>
		{% endfor %}
	</select><br><br>
	<label>Message content:</label><br>
	<textarea id="message" rows="3" cols="40" name="message"></textarea><br><div id="messagewarning"></div><br>
	<input type="submit">
</form>
</div>
{% endif %}
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">
</script>

<script>

$("#message").on("change", function() {
	var input = $("#message").val();
	if (input.length > 140) { 
		$("#messagewarning").html("Please limit your message to 140 characters.");
	}	else {
		$("#messagewarning").html("");
	}
})


</script>

{% endblock %}