{% extends "base.html" %}
{% block title %}Feed{% endblock %}

{% block content %}

<h1>My Feed</h1>
<button id="all">All</button>
<button id="connections">My Connections</button>
<div id="post"></div>
<!-- <div id="connectionpost"></div> -->

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">
</script>

<script>


//need logic to take into account if an update is showing up twice because it's in both categories...also 
//need to stop button from repeatedly adding the content

$("#all").on("click", function() {
	$.get("/feed-all-json", function(results) {
		for (var i=0; i < results["results"].length; i++) {
			$("#post").append("<h1>" + results["results"][i][1] 
				+ "</h1>" + "<h2> Posted by: <a href='/profile/" + results["results"][i].slice(3) +
				"''>" + results["results"][i][0] + "</a> </h2>" 
				+ results["results"][i].slice(2,3) + "<br>");
		}
	}
)});

$("#connections").on("click", function() {
	$.get("/feed-connects-json", function(results) {
		for (var i=0; i < results["results"].length; i++) {
			$("#post").append("<h1>" + results["results"][i][1] 
				+ "</h1>" + "<h2> Posted by: <a href='/profile/" + results["results"][i].slice(3) +
				"''>" + results["results"][i][0] + "</a> </h2>"
				+ results["results"][i].slice(2,3) + "<br>");
		}
	}
)});


</script>

{% endblock %}