{% extends "base.html" %}
{% block title %}Feed{% endblock %}

{% block content %}

<h1>My Feed</h1>
<div class="container-fluid">
<ul class="nav nav-tabs nav-justified" role="tablist">
	<button role="presentation" id="all" data-toggle="tab">Updates from All Users</button>
	<button role="presentation" id="connections" data-toggle="tab">Updates from Your Connections</button>
	<div id="post"></div>
<!-- 	<br><button id="next">More Updates</button>
	<br><button id="nextconnect">More Updates</button> -->
	<input type="hidden" id="offset" value="0">
	<input type="hidden" id="connectionoffset" value="0">
</ul>
</div>



<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>



$("#all").on("click", function(evt) {
	$("#connectionoffset").val(0);
	var currentOffset = parseInt($("#offset").val());
	$("#post").html("");
	$.get("/feed-all-json", {"offset": 0}, function(results) {
		for (var i=0; i < results["results"].length; i++) {
			$("#post").append("<h1>" + results["results"][i][1] 
				+ "</h1>" + "<h2> Posted by: <a href='/profile/" + results["results"][i].slice(3,4) +
				"''>" + results["results"][i][0] + "</a> </h2>" 
				+ results["results"][i].slice(2,3) + " <a href='/update/" + results["results"][i].slice(4) 
				+ "'>Link to Update</a>" + "<br>");
		}
	$("#offset").val(currentOffset + 20);
	} 
);
});


$("#connections").on("click", function() {
	$("#offset").val(0)
	var currentOffset = parseInt($("#connectionoffset").val());
	$("#post").html("");
	$.get("/feed-connects-json", {"offset": 0}, function(results) {
		for (var i=0; i < results["results"].length; i++) {
			$("#post").append("<h1>" + results["results"][i][1] 
				+ "</h1>" + "<h2> Posted by: <a href='/profile/" + results["results"][i].slice(3,4) +
				"''>" + results["results"][i][0] + "</a> </h2>"
				+ results["results"][i].slice(2,3) + " <a href='/update/" + results["results"][i].slice(4) 
				+ "'>Link to Update</a>" + "<br>");
		}
	$("#connectionoffset").val(currentOffset + 20)
	}
)});

// ($(this)[0].scrollHeight - 20)

$(document).scroll(function() {
	var currentOffset = parseInt($("#offset").val());
	if(($(this).scrollTop() + $(this).innerHeight() >= 10) && (currentOffset > 0)) { 
		$.get("/feed-all-json", {"offset": currentOffset}, function(results) {
			for (var i=0; i < results["results"].length; i++) {
				$("#post").append("<h1>" + results["results"][i][1] 
					+ "</h1>" + "<h2> Posted by: <a href='/profile/" + results["results"][i].slice(3,4) +
					"''>" + results["results"][i][0] + "</a> </h2>" 
					+ results["results"][i].slice(2,3) + " <a href='/update/" + results["results"][i].slice(4) 
					+ "'>Link to Update</a>" + "<br>");
			}
			$("#offset").val(currentOffset + 20);
		} 
	)}
});

$(document).scroll(function() {
	var currentOffset = parseInt($("#connectionoffset").val());
	if(($(this).scrollTop() + $(this).innerHeight() >= 10) && (currentOffset > 0)) { 
		$.get("/feed-connects-json", {"offset": currentOffset}, function(results) {
			for (var i=0; i < results["results"].length; i++) {
				$("#post").append("<h1>" + results["results"][i][1] 
					+ "</h1>" + "<h2> Posted by: <a href='/profile/" + results["results"][i].slice(3,4) +
					"''>" + results["results"][i][0] + "</a> </h2>" 
					+ results["results"][i].slice(2,3) + " <a href='/update/" + results["results"][i].slice(4) 
					+ "'>Link to Update</a>" + "<br>");
			}
			$("#connectionoffset").val(currentOffset + 20);
		} 
	)}
});

// $("#nextconnect").on("click", function(evt) {
// 	var currentOffset = parseInt($("#offset").val());
// 	$("#post").html("");
// 	$.get("/feed-connects-json", {"offset": currentOffset}, function(results) {
// 		for (var i=0; i < results["results"].length; i++) {
// 			$("#post").append("<h1>" + results["results"][i][1] 
// 				+ "</h1>" + "<h2> Posted by: <a href='/profile/" + results["results"][i].slice(3,4) +
// 				"''>" + results["results"][i][0] + "</a> </h2>" 
// 				+ results["results"][i].slice(2,3) + " <a href='/update/" + results["results"][i].slice(4) 
// 				+ "'>Link to Update</a>" + "<br>");
// 		}
// 		$("#connectionoffset").val(currentOffset + 20);
// 	} 
// );
// });



</script>

{% endblock %}