{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}

<div class="container-fluid">
<h1>{{ user_of_interest.username }}</h1>

<img src="/{{ picture_url }}" style="height: 25%; width: 25%; object-fit: contain">


<h2>Want to see more? {{ user_of_interest.username }}'s account is private -- if you would like to connect 
	with them, you may request access below:</h2>

<form action="/request-connection/{{ user_of_interest.user_id }}" method="POST">
	<input type="submit" value="Connect me with {{ user_of_interest.username }}!">
</form>
</div>


{% endblock %}