{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}

<h1>Register</h1>

<form id="blah" action="/register-success" method="POST">
	<label>Please enter a username (must be between 4 and 20 characters, 
		only contain valid characters without spaces, and be unique from 
		existing users):</label><br>
	<input id="username" type="text" name="username"><br>
	<div id="usernamewarning"></div><br>
	<label>Please enter a password (must be between 8 and 20 characters and 
		only contain valid characters without spaces):</label><br>
	<input type="password" name="password"><br><br>
	<label>Would you like your updates to be public (visible to any user)
		or private (visible to only users you have approved):</label><br>
	<input type="radio" name="is_public" value="1">Public<br>
	<input type="radio" name="is_public" value="2">Private<br><br>
	<input type="submit">


</form>

<script src="https://code.jquery.com/jquery.js"></script>

<script>

"use strict"

//help from http://stackoverflow.com/questions/4434076/best-way-to-alphanumeric-check-in-javascript for 
//alphanumeric check

$("#username").on("change", function() {
	var input = $("#username").val();
	if ((input.length < 4) || (input.length > 20)) { 
		$("#usernamewarning").html("Please enter a username between 4 and 20 characters");
		return;
	} for (var i = 0; i < input.length; i++) {
		var code = input.charCodeAt(i);
		if (!(code > 47 && code < 58) && // numeric (0-9)
        	!(code > 64 && code < 91) && // upper alpha (A-Z)
        	!(code > 96 && code < 123)) { // lower alpha (a-z)
      	$("#usernamewarning").html("Please only use alphanumeric characters in your username.");
		return;
		} 
	} $.get("/check-username", {"username":input}, function(results) {
	if (results === "exists") {
		$("#usernamewarning").html("That username is already in the system, please choose another.");
	}
	if (results === "available") {
		$("#usernamewarning").html("That username is available!");
	}
})
});


</script>

{% endblock %}