{% extends "base.html" %}
{% block title %}Message Thread{% endblock %}

{% block content %}
<div class="container-fluid">
{% if message_history|length == 0 %}

	<h1>There are currently no messages between you and {{ other_user }}! Would you like to start a conversation?</h1>

{% endif %}

{% for content in message_history %}

	<h2>To: {{ content["to"] }}<br>From: {{ content["from"] }}</h2>
	<h3>{{ content["message"] }}</h3>
	<h4>Sent: {{ content["sent at"] }}</h4>

{% endfor %}

	<h2>Send a new message to {{ other_user }}:</h2>
	<form action="/submit-reply-message" method="POST">
		<label>Message:</label><br>
		<textarea id="message" rows="3" cols="40" name="message"></textarea><br><div id="messagewarning"></div><br>
		<input type="hidden" name="recipient" value="{{ other_user_id }}">
		<input type="submit">
	</form>
</div>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">
</script>

<script>

$("#message").on("change", function() {
	var input = $("#message").val();
	if (input.length > 140) { 
		$("#messagewarning").html("Please limit your message to 140 characters.");
	}	else {
		$("#messagewarning").html("");
	}
})


</script>

{% endblock %}