{% extends "base.html" %}
{% block title %}Update{% endblock %}

{% block content %}
<div class="container-fluid">
<h1>"{{ text }}"</h1>
<h2>posted by <a href="/profile/{{ user_id }}">{{ username }}</a> at {{ time_date }}</h2>


{% for key, value in user_comments.items() %}

	<h3>Comment:<br>{{ value["body"] }}<br>Posted by: {{ value["posted by"] }} at {{ value["posted at"] }}<br><br></h3>

{% endfor %}

<h3> 
	<form action="/add-comment/{{ update_id }}" method="POST"> 
		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span><label>Leave a comment: </label><br><br>
		<textarea id="comment" rows="2" cols="40" name="comment"></textarea><br><div id="commentwarning"></div><br>
		<input type="submit">
	</form>
</h3>
</div>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">
</script>

<script>

$("#comment").on("change", function() {
	var input = $("#comment").val();
	if (input.length > 140) { 
		$("#commentwarning").html("Please limit your comment to 140 characters.");
	}	else {
		$("#commentwarning").html("");
	}
})


</script>

{% endblock %}