{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}

<div class="container-fluid">
<h1>Your Profile</h1>

{% if updates|length > 0 %}

	<h3>Updates posted by you:</h3>

{% for update in updates %}

	<a href ="/update/{{ update.update_id }}">{{ update.update_body }}</a><br>
	Posted at {{ update.posted_at }}<br><br>

{% endfor %}

{% endif %}

<h2>Would you like to change your password? For safety purposes, you will need to re-enter your current password</h2>
<form action="/preferences/change-password-success" method="POST">
	<label>Current password:</label>
	<input type="password" name="current_password"></br>
	<label>New password:</label>
	<input type="password" name="new_password"></br>
	<input type="submit">
</form>
</div>
{% endblock %}

